services:
  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio12345
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio12345
    command: server /data --console-address ":9001"
    volumes:
      - miniodata:/data

  mlflow:
    image: salahgo/mlflow:v4
    container_name: mlflow
    working_dir: /mlflow
    depends_on:
      - minio
    ports:
      - "5000:5000"
    environment:
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
      AWS_ACCESS_KEY_ID: minio
      AWS_SECRET_ACCESS_KEY: minio12345
      AWS_DEFAULT_REGION: us-east-1
    command: >
      mlflow server --host 0.0.0.0 --port 5000
      --backend-store-uri sqlite:////mlflow/mlflow.db
      --default-artifact-root /mlflow/artifacts
    volumes:
      - mlflowdata:/mlflow

  zenml-db:
    image: mysql:8.0
    container_name: zenml-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: zenmlroot
      MYSQL_DATABASE: zenml
      MYSQL_USER: zenml
      MYSQL_PASSWORD: zenmlpass
    volumes:
      - zenmlmysqldata:/var/lib/mysql

  zenml-server:
    image: zenmldocker/zenml-server:latest
    container_name: zenml-server
    restart: unless-stopped
    depends_on:
      - zenml-db
    ports:
      - "8080:8080"
    environment:
      ZENML_STORE_URL: mysql://zenml:zenmlpass@zenml-db:3306/zenml
      ZENML_DEFAULT_USER_NAME: admin
      ZENML_DEFAULT_USER_PASSWORD: zenml

volumes:
  miniodata: {}
  mlflowdata: {}
  zenmlmysqldata: {}
